.containerr {
    background-color: rgb(242, 238, 252);
    margin-top: 30px;
    padding: 30px;
    border: 2px solid rgb(224, 211, 255);
    border-radius: 10px;
    text-align: center;

}

.containerrr {
    background-color: rgb(242, 238, 252);
    margin-top: 30px;
    padding: 30px;
    border: 2px solid rgb(224, 211, 255);
    border-radius: 10px;
    text-align: center;

}